@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>E-MindSpot</h1>
    <p class="lead">Health Care</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<img src="~/image2.jpg" alt="Italian Trulli" width="1200dp" height="500dp">

<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            A patient logs on to the website and fills in his details along with the details about what he is going through. Accordingly, the patient will be allocated to the most suitable counselor. The counselor will chat with the patient and suggest to him the possible treatments and medicines. He will also recommend the patient's nearby counselors so that the patient can visit in case of an emergency. All the details of the patient will be recorded for future purposes. there will also be a facility through which the patient get in touch with other patients. Also, this website will give recommendations to the patient about the seminars and events happening nearby.


        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
   
</div>